.logo {
  flex-shrink: 0;

  @include vp-767 {
    margin-top: 5px;
  }

  &--footer {
    @include vp-767 {
      margin-top: 0;
      padding-right: 5px;
    }
  }
}

.logo__icon {
  display: block;

  @include vp-767 {
    display: none;
  }

  &--mobile {
    display: none;

    @include vp-767 {
      display: block;
    }
  }

  &--footer {
    @include vp-767 {
      display: block;
    }
  }
}
